.homePageWrapper{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.formWrapper{
  background-color:#9598ed;
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color:orange;
  
}

.inputGroup{
  display: flex;;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 18px;
  margin-top: 0;
}

.homePageLogo{
  height: 80px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
}

.btn{
  border:none;
  padding:9px;
  border-radius: 7px;
  size: 16px;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}

.joinBtn{
  background-color: lightblue;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover{
  background-color: #3de971;
}

.createInfo{
  margin:0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color:purple;
  text-decoration: none;
  border-bottom: 1px solid purple;
  transition:all 0.3s ease-in-out;
}

.createNewBtn:hover{
  color:darkorchid;
  border-color:darkorchild;

}

footer a:hover{
  color:#fdc55d;
  border-color:#fdc55d;
}
